resources:
  - type: compute.v1.instance
    name: server-2
    properties:
      zone: us-east1-b
      machineType: projects/first-gcp-project-281014/zones/us-east1-b/machineTypes/f1-micro
      disks:
        - deviceName: boot
          type: PERSISTENT
          boot: true
          autoDelete: true
          initializeParams:
            sourceImage: https://www.googleapis.com/compute/v1/projects/debian-cloud/global/images/family/debian-9
      networkInterfaces:
        - network: $(ref.network-2.selfLink)
          subnetwork: $(ref.subnet-b.selfLink)
          accessConfigs:
            - name: External NAT
              type: ONE_TO_ONE_NAT